* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(5,79,119,1) 0%, rgba(135,206,250,1) 100%);
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.topic {
    background: #054f77;
    width: 100%;
    height: 90px;
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.contact {
    width: 300px;
    height: 90px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    flex-direction: row;
}

.formulario {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transform: translateY(200px);
}

input {
    width: 400px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #054f77;
    padding-left: 20px;
    font-size: small;
    color: black;
    outline: none;
}

textarea {
    resize: none;
    width: 400px;
    height: 100px;
    border-radius: 8px;
    border: 2px solid #054f77;
    padding: 20px;
    font-size: small;
    color: black;
    outline: none;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 8px;
    border: none;
    background: #054f77;
    color: white;
    font-size: medium;
    cursor: pointer;
}

.open-modal {
    width: 40px;
    height: 29px;
    background: transparent;
    outline: none;
    border: 0px solid none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    transform: translate(1555px, 30px);
}

.open-modal span {
    display: inline-block;
    transform: rotate(90deg);
}

.close-modal {
    width: 40px;
    height: 29px;
    background: transparent;
    outline: none;
    border: 0px solid none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(355px, -28px);
    padding-bottom: 4px;
}

#modal {
    position: absolute;
    display: none;
    background: #212121;
    width: 400px;
    height: 500px;
    border: 1px solid whitesmoke;
    border-radius: 8px;
    box-shadow: 10px 10px 10px black;
    transform: translate(760px, 200px);
    z-index: 99;
}